.book-now {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: rgb(252, 196, 113);
}

.modal-header {
    flex-direction: column;
}

.modal-header button {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
}

.modal-footer .row {
    width: 100%;
}