body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f5f6;
}

.hello {
    text-align: center;
    padding-left: 60px;
    padding-bottom: 200px;
    padding-top: 60px;
    font-weight: 750;
    color: #000;
}

.hello .title {
    font-size: 40px;
}

.hello .subtitle {
    opacity: 0.5;
}

.feature {
    display: flex;
    position: relative;
    /* background-color: aqua; */
    margin-left: 60px;
    margin-right: 60px;
    justify-content: space-between;
    top: -165px;
}

.box {
    display: block;
    background-color: white;
    width: 430px;
    height: 430px;
    padding: 0 0 80px 0;
    border: 1px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.4);
}

.box .image {
    font-size: 32px;
    color: #fff;
    text-align: center;
    background-color: aqua;
    width: 100%;
    padding: 100px 0;
}

.box .discription {
    padding: 0 12px;
}

.box .title {
    font-size: 28px;
    font-weight: 650;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box .content {
    color: #d0d0d0;
    font-size: 20px;
}