.modal a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    background-color: #8d7535;
}

.modal a:hover,
.modal a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal h5,
.modal .h1,
.modal .h2,
.modal .h3,
.modal .h4,
.modal .h5 {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Lato", Arial, sans-serif;
    color: #000;
}

.bg-primary {
    background: #8d7535 !important;
}

.ftco-section {
    padding: 0;
}

.ftco-no-pt {
    padding-top: 0;
}

.ftco-no-pb {
    padding-bottom: 0;
}

.heading-section {
    font-size: 28px;
    color: #000;
}

.modal .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.calendar-section {
    margin-bottom: 20px;
}

.calendar,
.calendar_weekdays,
.calendar_content {
    max-width: 585px;
}

.calendar {
    /*float: left;*/
    margin: auto;
    min-width: 320px;
    font-weight: 400;
    background: #fff;
    padding: 10px;
    -webkit-box-shadow: 0px 4px 26px -22px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 4px 26px -22px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 4px 26px -22px rgba(0, 0, 0, 0.14);
}

.calendar_weekdays {
    color: #aaa;
    font-weight: 300;
}

.calendar_weekdays div {
    display: inline-block;
    vertical-align: top;
    color: #000;
}

.calendar_content,
.calendar_weekdays,
.calendar_header {
    position: relative;
    font-size: 12px;
}

.calendar_content:after,
.calendar_weekdays:after,
.calendar_header:after {
    content: ' ';
    display: table;
    clear: both;
}

.calendar_weekdays div,
.calendar_content div {
    /*border: 1px dotted #999;*/
    width: 13%;
    height: 41px;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
}

.calendar_content div {
    float: left;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid transparent;
}

.calendar_content div:hover {
    border: 1px solid #ededed;
    /*line-height: 68px;*/
    cursor: pointer;
}

.calendar_content div.blank:hover {
    cursor: default;
    border: none;
}

.calendar_content div.past-date {
    cursor: initial;
    color: #d5d5d5;
}

.calendar_content div.today {
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    background-color: #8d7535;
}

.calendar_content div.selected {
    background-color: rgba(153, 153, 161, 0.2);
    /*rgba(170, 170, 176, .5) #aaaab0*/
    border: 1px solid white;
}

.calendar_header {
    width: 100%;
    text-align: center;
    position: relative;
    height: 55px;
    display: table;
    vertical-align: middle;
}

.calendar_header h2 {
    margin-top: 15px;
    padding: 0;
    font-size: 16px;
    color: #000 !important;
}

button.switch-month {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #cccccc;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

button.switch-month.switch-left {
    left: 0;
}

button.switch-month.switch-right {
    right: 0;
}

button.switch-month:hover {
    color: #8d7535;
}

button.switch-month:active {
    background-color: transparent;
}