* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Verdana, sans-serif;
    color: #000000;
    /* background-color: rgb(133, 133, 133); */
    height: 200vh;
}

.container {}

.header .row {
    width: 100%;
    color: #ddd;
    font-size: 11px;
    height: 80px;
}

.header .navbar {
    margin: 0 auto;
    width: 80%;
    z-index: 9999;
}

.header .navbar .main-logo {
    position: relative;
}

.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.navbar-right .bookRoom {
    background-color: #8d7535;
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    padding: 0 30px;
    font-family: 'Times New Roman', serif;
    font-size: 14px;
}

.navbar-right .bookRoom:hover {
    cursor: pointer;
    background-color: #796329
}

.navbar-left .btn {
    font-size: 20px;
    color: #fff;
}

.logo-box {
    background-color: #000000;
    position: absolute;
    top: 0;
}

.logo-box img {
    width: 176px;
    height: 150px;
    padding: 20px 28px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.header .nav-item {
    position: relative;
}

.nav-link {
    color: #ddd !important;
}

.header .dropdown-menu {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    width: 240px;
    left: -50%;
    border-radius: 0;
}

.dropdown hr {
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 0;
}

.header .dropdown-menu li {
    margin: 0 20px;
}

.header .dropdown-menu .dropdown-item {
    padding: 10px 0;
    font-family: 'Times New Roman', serif;
    font-size: 15px;
    color: #fff;
    font-style: italic;
    white-space: normal;
    transition: color .5s ease;
}

.header .dropdown-menu .dropdown-item:hover {
    color: #8d7535;
    background-color: rgba(0, 0, 0, 0);
}

.offcanvas-body a {
    text-decoration: none;
}

.offcanvas-body .side-logo {
    text-align: center;
}

.offcanvas-body ul {
    list-style-type: none;
    margin-top: 12px;
}

.offcanvas-body .title {
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Gotham', sans-serif;
    color: #000;
}

.offcanvas-body .subMenu li {
    font-family: 'Times New Roman', serif;
    font-size: 14px;
    line-height: 160%;
    color: #333;
}

.offcanvas-footer {
    margin-top: 84px;
}

.offcanvas-body .offcanvas-footer p {
    margin-bottom: 0;
    text-align: center;
    line-height: 10px;
    color: #8d7535;
    font-size: 14px;
    font-family: 'Times New Roman', serif;
}

.slider {
    height: 731px;
    position: relative;
    top: -80px;
    padding: 0;
}

.slider button {
    z-index: 999;
}

.slider .slider-border {
    position: absolute;
    z-index: 50;
    left: 10%;
    right: 10%;
    top: 80px;
    bottom: 0;
}

.slider .slider-border img {
    width: 100%;
    height: 80%;
}

.slider .hotel-name {
    position: absolute;
    top: 50%;
    left: 8%;
    z-index: 100;
    transform: translateY(-50%) translateX(-3%);
    line-height: 60px;
}

.slider .hotel-name h2 {
    font-family: "Times New Roman", serif;
    font-size: 50px;
    text-shadow: 0px 0px 40px #000000;
    font-weight: 300;
    color: #fff;
}

.slider .carousel-item {
    height: 731px;
}

.slider .carousel-control {
    width: 10%;
}

.slider .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(-15%);
}

.slider .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 51;
}

.offers {
    margin-bottom: 52px;
}

.offers .subtitle {
    text-align: center;
    font-family: 'Gotham', sans-serif;
    margin-bottom: 32px;
}

.offers .box-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    padding: 20px;
}

.offers .box {
    width: 360px;
}

.offers .box-text {
    padding: 16px 0;
}

.offers .box-text h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    text-transform: uppercase;
}

.offers .box-text p {
    text-align: right;
    margin-top: 24px;
    font-size: 14px;
    font-family: 'Gotham', sans-serif;
    text-align: justify;
    padding-left: 45px;
}

.offers .box-text span a {
    text-decoration: none;
    font-style: italic;
    float: right;
    color: #8d7535;
    padding: 10px;
    font-size: 14px;
}

.offers .slow-button {
    width: 150px;
    font-family: 'Times New Roman', serif;
    font-size: 14px;
    padding: 10px;
    margin: auto;
}

.row-title {
    text-align: center;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 36px;
}

.location .address {
    padding-left: 16px;
}

.location .address .title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 20px;
}

.location .address .content {
    font-family: 'Gotham', sans-serif;
    font-size: 12px;
    line-height: 30px;
    color: #8d7535;
}

.review {
    height: 410px;
    text-align: center;
    display: flex;
    align-items: center;
}

.review .user-review {
    border-right: 1px solid #cfcfcf;
    overflow: hidden;
    position: relative;
    /* padding-right: 20px; */
}

.review .carousel {
    max-width: 100%;
}

.review .text-content {
    line-height: 32px;
    font-size: 14px;
    width: 100%;
}

.review .carousel-item {
    transition: transform 1.5s ease-in-out;
}

.review .carousel-fade .active.carousel-item-start,
.review .carousel-fade .active.carousel-item-end {
    transition: opacity .3s;
}

.review .carousel-inner {
    height: 300px;
    display: flex;
    align-items: center;
    max-width: 100%;
}

.review .carousel-item {
    width: 100%;
}

.user-review .title {
    font-family: 'Times New Roman', serif;
    font-size: 26px;
}

.user-review .text-content {
    text-align: center;
    font-family: 'Gotham', sans-serif;
}

.user-review .reviewer-name,
.user-review .address {
    font-family: 'Times New Roman', serif;
    font-size: 14px;
    margin-bottom: 4px;
}

.review .base-review {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 31px;
}

.review .base-review p {
    color: #8d7535;
    font-family: 'Gotham', sans-serif;
}

.stay_in_touch {
    margin-top: 50px;
}

.stay_in_touch .logo {
    width: 150px;
    margin: auto;
    margin-bottom: 50px;
}

.stay_in_touch .social {
    margin: auto;
    width: 300px;
    text-align: center;
    font-size: 28px;
    letter-spacing: 16px;
}

.stay_in_touch hr {
    width: 152px;
    margin: auto;
    margin-top: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Times New Roman', serif;
    padding: 10px 0;
}

footer p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: lighter;
}

footer input {
    height: 50px;
}

footer input[type=email] {
    padding: 10px 40px 10px 10px;
    font-size: 15px;
}

.slow-button {
    color: #8d7535;
    border: 1px solid #8d7535;
    padding: 10px 28px;
    background: white;
    transition: 0.5s ease-in-out;
}

.slow-button:hover {
    background-color: #8d7535;
    color: white;
}

footer .link {
    width: 730px;
}

footer .link ul {
    margin: auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 55px;
    margin-bottom: 55px;
}

footer .link a {
    text-decoration: none;
    color: #000;
}

footer .seobar {
    font-size: 9px;
    font-family: 'Gotham', sans-serif;
}