* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Verdana, sans-serif;
    color: #000000;
    background-color: rgb(32, 26, 26);
    height: 200vh;
}

.legend-font {
    font-family: 'le'
}

.container {}

.header .row {
    width: 100%;
    color: #ddd;
    font-size: 11px;
    height: 80px;
}

.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
}

.navbar-right .bookRoom {
    background-color: #8d7535;
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    padding: 0 30px;
    font-family: 'Times New Roman', serif;
    font-size: 14px;
}

.navbar-right .bookRoom:hover {
    cursor: pointer;
    background-color: #796329
}

.navbar-left .btn {
    font-size: 20px;
    color: #fff;
}

.logo-box {
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 540px;
}

.logo-box img {
    width: 176px;
    height: 150px;
    padding: 20px 28px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.offcanvas-body a {
    text-decoration: none;
}

.offcanvas-body .side-logo {
    text-align: center;
}

.offcanvas-body ul {
    list-style-type: none;
    margin-top: 12px;
}

.offcanvas-body .title {
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Gotham', sans-serif;
    color: #000;
}

.offcanvas-body .subMenu li {
    font-family: 'Times New Roman', serif;
    font-size: 14px;
    line-height: 160%;
    color: #333;
}

.offcanvas-footer {
    margin-top: 84px;
}

.offcanvas-body .offcanvas-footer p {
    margin-bottom: 0;
    text-align: center;
    line-height: 10px;
    color: #8d7535;
    font-size: 14px;
    font-family: 'Times New Roman', serif;
}