* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Verdana, sans-serif;
    color: #000000;
    background-color: rgb(133, 133, 133);
    height: 200vh;
}

.container {}

.header .row {
    width: 100%;
    color: #ddd;
    font-size: 11px;
    height: 80px;
}

.header .navbar {
    margin: 0 auto;
    width: 80%;
    z-index: 9999;
}

.header .navbar .main-logo {
    position: relative;
}

.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.navbar-right .bookRoom {
    background-color: #8d7535;
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    padding: 0 30px;
    font-family: 'Times New Roman', serif;
    font-size: 14px;
}

.navbar-right .bookRoom:hover {
    cursor: pointer;
    background-color: #796329
}

.navbar-left .btn {
    font-size: 20px;
    color: #fff;
}

.logo-box {
    background-color: #000000;
    position: absolute;
    top: 0;
}

.logo-box img {
    width: 176px;
    height: 150px;
    padding: 20px 28px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.header .nav-item {
    position: relative;
}

.nav-link {
    color: #ddd !important;
}

.header .dropdown-menu {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    width: 240px;
    left: -50%;
    border-radius: 0;
}

.dropdown hr {
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 0;
}

.header .dropdown-menu li {
    margin: 0 20px;
}

.header .dropdown-menu .dropdown-item {
    padding: 10px 0;
    font-family: 'Times New Roman', serif;
    font-size: 15px;
    color: #fff;
    font-style: italic;
    white-space: normal;
    transition: color .5s ease;
}

.header .dropdown-menu .dropdown-item:hover {
    color: #8d7535;
    background-color: rgba(0, 0, 0, 0);
}

.offcanvas-body a {
    text-decoration: none;
}

.offcanvas-body .side-logo {
    text-align: center;
}

.offcanvas-body ul {
    list-style-type: none;
    margin-top: 12px;
}

.offcanvas-body .title {
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Gotham', sans-serif;
    color: #000;
}

.offcanvas-body .subMenu li {
    font-family: 'Times New Roman', serif;
    font-size: 14px;
    line-height: 160%;
    color: #333;
}

.offcanvas-footer {
    margin-top: 84px;
}

.offcanvas-body .offcanvas-footer p {
    margin-bottom: 0;
    text-align: center;
    line-height: 10px;
    color: #8d7535;
    font-size: 14px;
    font-family: 'Times New Roman', serif;
}

.slider {
    height: 731px;
    position: relative;
    top: -80px;
    padding: 0;
}

.slider button {
    z-index: 999;
}

.slider .slider-border {
    position: absolute;
    z-index: 50;
    left: 10%;
    right: 10%;
    top: 80px;
}

.slider .slider-border img {
    width: 100%;
}

.slider .hotel-name {
    position: absolute;
    top: 50%;
    left: 8%;
    z-index: 100;
    transform: translateY(-50%) translateX(-3%);
    line-height: 60px;
}

.slider .hotel-name h2 {
    font-family: "Times New Roman", serif;
    font-size: 50px;
    text-shadow: 0px 0px 40px #000000;
    font-weight: 300;
    color: #fff;
}

.slider .carousel-item {
    height: 731px;
}

.slider .carousel-control {
    width: 10%;
}

.slider .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(-15%);
}

.slider .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 51;
}

.review {
    height: 410px;
}

.review .carousel-inner {
    height: 300px;
}

.review .carousel-caption {
    color: #000;
    top: 50%;
}